# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Exluded some files
config/config.py
config/logging.yaml
config/logging_dev.yaml
config/config_template_dev.py
config/config.json
install/requirements.txt
lib/config_class.py
install_new.sql
cleanup_pycache.sh
migratedb.py
bot-sigterm.py

# Exlude "dirs"
backup

# Other stuff
Thumbs.db
libtemp*
temp*
*.backup
*-dev.py
