# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Some exluded files
lib/config_class.py
config/config.py
config/config.json
install_new.sql
cleanup_pycache.sh

# Other stuff
Thumbs.db
libtemp*
temp*
*.backup
*-dev.py
backup
