# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Other stuff
config/config.py
config/config.json
Thumbs.db
libtemp*
bot_old.py
install_new.sql
cleanup_pycache.sh
backup
*.backup